@model IList<AdimRic841PipingCharVV.Models.FunctionalLocationWithDwgDataModel>

@{
    ViewBag.Title = "DisplayCmWithDwgData";
}

<h3 class="h3">Validate Database Against Drawing</h3>


@Html.Partial("_DataDisplayBodyPartial")