
@model IList<AdimRic841PipingCharVV.Models.PipingCharacteristicFrmDwgModel>
@{
    ViewBag.Title = "Drawing Data";
}

<h3 class="h3">Drawing Data</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Function Location</th>
            <th>Api Pipe Class</th>
            <th>Refinery Pipe Class</th>
            <th>Material</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funLoc in Model)
        {
            @Html.Partial("_DataRowDwgPartial", funLoc)
        }
    </tbody>
</table>