@model IList<AdimRic841PipingCharVV.Models.FunctionalLocationWithDwgDataModel>

@{
    ViewBag.Title = "Validate Api Pipe Class";
}

<h3 class="h3">Validate API Pipe Class</h3>

@{
    Html.RenderPartial("_DataDisplayBodyPartial");
}
