@model AdimRic841PipingCharVV.Models.PipingCharacteristicFrmDwgModel

<tr>
    <td>@Model.LocationId</td>
    <td>@Model.ApiPipeClass</td>
    <td>@Model.RefineryPipeClass</td>
    <td>@Model.PipingMaterial</td>
</tr>


